Droid/[Dd]ebug/
Droid/[Dd]ebugPublic/
Droid/[Rr]elease/
Droid/[Rr]eleases/
Droid/[Bb]in/
Droid/[Oo]bj/
Droid/[Ll]og/
Droid/bin/
Droid/obj/

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
.vs/